h1{
  color: #778899;
  font-style:italic;
  font-size: 2em;
  font-family:serif;
  }
p{
  font-family: arial;
  font-size: 1em;
  color: black
}
li{
  color:deeppink;
  font-style:oblique;
}
.purple{
  color: #778899;
}
.blue{
  color: #B22222;
}
